body {
  width: 60%;
  margin: 50px auto;
  padding: 20px 30px;
  border: 1px solid black;
  border-radius: 10px;
}

h1 {
  text-align: center;
  display: block;
  padding-left: 38px;
  margin: 10px auto;
  font-size: 50px;
  font-family: "PT MONO", monospace;
  color: rgb(35, 26, 114);
  text-shadow: 1px 1px 2px #000000;
}

h2 {
  text-align: center;
  display: block;
  padding-left: auto auto;
  margin: 10px auto;
  font-size: 20px;
  font-family: "PT MONO", monospace;
}

p,
ul {
  text-align: center;
  font-family: "PT MONO", monospace;
  font-size: 15px;
  color: rgb(35, 26, 114);
  padding-left: 40px;
  margin-bottom: 10px;
  list-style: none;
}

form {
  text-align: center;
  display: block;
}
